<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="utf-8"></meta>
    <title>Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> 
    <style>
    body {
        background-color: azure;
    }
    </style>
    <link href="../static/image/favicon.icon" th:href="@{image/favicon.icon}" rel="shortcut icon"/>
</head>
<body >
    <h2> &nbsp &nbsp<u><a href="#">Trang chủ</a></u></h2>
    <h3 align="right"><a><u><a href="proflie.html">YASUO</a> </u> &nbsp &nbsp</a>
    <a href="#">Logout </a> &nbsp &nbsp &nbsp &nbsp</h3>
    <h3><a href="danhsachcongtyluhanh.html">Danh sách công ty lữ hành</a>&nbsp&nbsp <a href="danhsachhuongdanvien.html">Danh sách hướng dẫn viên</a>&nbsp&nbsp<a href="danhsachtour.html"><u>Danh sách TOUR</u></a></h3>
    <br></br>
    <br></br>
     <div class="container"> 
      <h2 id="tables">DANH SACH TOUR</h2>            
            <div ng-controller="listdata">    
                    <form class="form-inline">
                        <div class="form-group">
                                <label >Search</label>
                                <input type="text" ng-model="search" class="form-control" placeholder="Search">
                        </div>
                    </form>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th ng-click="sort('id')">Id
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-click="sort('name')">TOUR_NAME
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                               
                           </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="val in dataTOUR|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                                <td>{{val.id}}</td>
                                <td>{{val.name}}</td>                                                           
                        </tbody>
                    </table> 
                    <dir-pagination-controls
                            max-size="5"
                            direction-links="true"
                            boundary-links="true" >
                    </dir-pagination-controls>
            </div>
        </div> 
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script src="dirPagination.js"></script>                
        <script>
            var app = angular.module('MyFirstPagination', ['angularUtils.directives.dirPagination']);
            app.controller('listdata',function($scope, $http){
             $scope.dataTOUR = [
                                    {"id":1,"name":"Ca Mau nua ngay"},
                                    {"id":2,"name":"Tham qua HO Tien"},
                                    {"id":3,"name":"ROYAL CITY"},
                                    {"id":4,"name":"VINCOM Ba trieu"},
                                    {"id":5,"name":"VINCOM Ba trieu"},
                                    {"id":6,"name":"srte"},
                                    {"id":7,"name":"srte"},
                                    {"id":8,"name":"srte"},
                                    {"id":9,"name":"srte"},
                                    {"id":10,"name":"srte"},
                                    {"id":11,"name":"srte"},
                                    {"id":12,"name":"srte"},
                                    {"id":13,"name":"srte"},
                                    {"id":14,"name":"srte"},
                                    {"id":15,"name":"srte"},
                                    
                                    ]; 
                    $scope.sort = function(keyname){
                            $scope.sortKey = keyname;   //set the sortKey to the param passed
                            $scope.reverse = !$scope.reverse; //if true make it false and vice versa
                    }
            });
        </script>
                   </body>
</html>         