<!Doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Địa điểm</title>

	<!-- Bootstrap -->
	<link href="css/search.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/touroperator_style.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>
</head>
<body>
<div id="header">

      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Trang chủ</a></li>
              <li><a href="#">Địa điểm</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Trợ giúp</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">HDV<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Thông tin công ty</a></li>
                  <li><a href="#">Trợ giúp</a></li>
                  <li><a href="#">Cài đặt</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Đăng xuất</a></li>

                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>
    </div>
	
	<!----------------------------------------------------------------------------->
	<div class="new-nav">
		<div class="container" > 
			<div class="row"> 
			  <div class="col-md-12"> 
			   <Strong><h1>Tìm Tour</h1></strong>
			  </div> 
			</div> 
			<div class="row" > 
				<div class="col-md-6"> 
				   <div class="search-box"> 
						<form class="search-form"  align="center"> <input class="form-control" placeholder="Địa điểm : Hà Nội,Hồ Chí Minh, etc.." type="text"> 
							 <button class="btn btn-link search-btn"> <i class="glyphicon glyphicon-search"></i> 
							 </button> 
						</form> 
				   </div> 
				</div> 
			</div>
		</div>
	</div>
	<div class="container">
		<aside>
			<strong>Thời gian</strong>
			<br></br>
			<ul>
				
				<li>
					<a href="#" style="color:red">24 giờ qua</a>
					<span>90</span>
				</li>
				<li>
					<a href="#" style="color:black">7 ngày qua</a>
					<span>200</span>
				</li>
					
				<li>
					<a href="#" style="color:black">14 ngày qua</a>
					<span>320</span>
						</li>
				
			<ul>
			<br></br>
			<strong>Địa điểm</strong>
			<br></br>
			<ul>
				
				<li>
					<a href="#" style="color:black">Hà Nội</a>
					<span>90</span>
				</li>
				<li>
					<a href="#" style="color:black">Đà Nẵng</a>
					<span>200</span>
				</li>
					
				<li>
					<a href="#" style="color:black">Hồ Chí Minh</a>
					<span>320</span>
						</li>
				
			<ul>
			<br></br>
			<strong>Công ty</strong>
			<br></br>
			<ul>
				
				<li>
					<a href="#" style="color:black">Công ty 1</a>
					<span>90</span>
				</li>
				<li>
					<a href="#" style="color:black">Công ty 2</a>
					<span>200</span>
				</li>
					
				<li>
					<a href="#" style="color:black">Công ty 3</a>
					<span>320</span>
						</li>
				
			<ul>
		</aside>
		<article>
			
			<p> Ở đây sẽ hiển thị các tourr</p>
			
					<div>
						<a href ="#"><h4>Tuyển hướng dẫn viên du lịch</h4> </a>
						<p>
						CÔNG TY TNHH DU LỊCH VIỆT XANH ( Ngày GDVL định kỳ... - Việt Nam
						87 LÝ THÁI TỔ, MỸ LONG, LONG XUYÊN, AN GIANG, Phường Mỹ Long, Thành phố Long Xuyên, An Giang 
						Email: Bạn cần đăng nhập để xem thông tin này Điện thoại: Bạn...
						Việc Làm Việt Nam - 29 ngày trước - <a href="">xem thêm...</a>
						</p>
					</div>
					
					<div>
						<a href=""><h4> Tên tour 2</h4></a>
						<p>Thông tin cơ bản</p>
						<ul>
								<li>
									<p>Tên công ty</p>
								</li>
								<li>
									<p>Địa điểm</p>
								</li>
								<li>
									<p>Lương<p>
								</li>
								<li>
									<p>Yêu cầu</p>
								</li>
							</ul>
						<br></br>
					</div>
					<div>
						<a href ="#"><h4> Tên tour 3</h4></a>
						<p>Thông tin cơ bản</p>
						<ul>
								<li>
									<p>Tên công ty</p>
								</li>
								<li>
									<p>Địa điểm</p>
								</li>
								<li>
									<p>Lương<p>
								</li>
								<li>
									<p>Yêu cầu</p>
								</li>
							</ul>
						<br></br>
					</div>
					
					<div>
						<a href=""><h4> Tên tour 4</h4></a>
						<p>Thông tin cơ bản</p>
						<ul>
								<li>
									<p>Tên công ty</p>
								</li>
								<li>
									<p>Địa điểm</p>
								</li>
								<li>
									<p>Lương<p>
								</li>
								<li>
									<p>Yêu cầu</p>
								</li>
							</ul>
					</div>
			
			
			
		</article>
		<details>
		<div>
			<p color="red">QC or anything !!</p>
		</div>
		</details>
		<footer>Copyright &copy; </footer>
	</div>
</body>
</html>